In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%load_ext autoreload
%autoreload 2

In [2]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

torch.manual_seed(1)

In [3]:
import numpy as np
import pandas as pd

from sklearn import metrics, preprocessing

In [4]:
!ls data/input

sample_submission.csv test.csv              train.csv

In [5]:
train = pd.read_csv('data/input/train.csv')
test = pd.read_csv('data/input/test.csv')
sample_submission = pd.read_csv('data/input/sample_submission.csv')

In [6]:
train.shape
train.head()

(600000, 25)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [7]:
train.dtypes
train.dtypes.value_counts()

id          int64
bin_0     float64
bin_1     float64
bin_2     float64
bin_3      object
bin_4      object
nom_0      object
nom_1      object
nom_2      object
nom_3      object
nom_4      object
nom_5      object
nom_6      object
nom_7      object
nom_8      object
nom_9      object
ord_0     float64
ord_1      object
ord_2      object
ord_3      object
ord_4      object
ord_5      object
day       float64
month     float64
target      int64
dtype: object

object     17
float64     6
int64       2
Name: count, dtype: int64

In [8]:
train.target.value_counts()

target
0    487677
1    112323
Name: count, dtype: int64

## Select categorical columns

In [9]:
categorical_columns = list(train.select_dtypes(include='object').columns.values)
len(categorical_columns)
categorical_columns

17

['bin_3',
 'bin_4',
 'nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9',
 'ord_1',
 'ord_2',
 'ord_3',
 'ord_4',
 'ord_5']

In [10]:
include_columns = categorical_columns + ['target']
include_columns

['bin_3',
 'bin_4',
 'nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9',
 'ord_1',
 'ord_2',
 'ord_3',
 'ord_4',
 'ord_5',
 'target']

In [11]:
train_categorical_df = train.loc[:, include_columns]
train_categorical_df.head()
train_categorical_df.shape

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw,0
1,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,Grandmaster,Warm,e,X,pE,0
2,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,NaN,Freezing,n,P,eN,0
3,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,Novice,Lava Hot,a,C,NaN,0
4,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,Grandmaster,Cold,h,C,OZ,0

(600000, 18)

In [12]:
train_categorical_df.isna().sum()

bin_3     18014
bin_4     18047
nom_0     18252
nom_1     18156
nom_2     18035
nom_3     18121
nom_4     18035
nom_5     17778
nom_6     18131
nom_7     18003
nom_8     17755
nom_9     18073
ord_1     18041
ord_2     18075
ord_3     17916
ord_4     17930
ord_5     17713
target        0
dtype: int64

In [13]:
test['target'] = -1
test_categorical_df = test.loc[:, include_columns]
test_categorical_df.head()
test_categorical_df.shape

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,F,Y,Blue,Polygon,Axolotl,Finland,Piano,52f6dd16c,147d704e4,8d857a0a1,ca9ad1d4b,fced9e114,Novice,Boiling Hot,f,U,oU,-1
1,F,Y,Red,Circle,Lion,Russia,Bassoon,691ebeae8,8653dcc2e,67a8d4ebb,060a21580,7ca8775da,Novice,Cold,n,N,NaN,-1
2,F,Y,Blue,Circle,Axolotl,Russia,Theremin,81f792c16,6cdda499e,69403e18c,165e81a00,5940334c9,Expert,Warm,i,N,DN,-1
3,F,N,Red,Polygon,Axolotl,Costa Rica,Bassoon,c9134205b,acbca4827,cb681246b,77d41330d,6fbdeefc8,Expert,Hot,m,B,AG,-1
4,F,Y,Red,Circle,NaN,Finland,Theremin,f0f100f57,6f800b9af,cd9feb5c6,2218d9dfe,2a27c8fde,Contributor,Lava Hot,o,J,DT,-1

(400000, 18)

In [14]:
data = pd.concat([train_categorical_df ,test_categorical_df])
data.shape
data.sample(10)

(1000000, 18)

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
159109,F,N,Green,Triangle,Hamster,India,Theremin,05eecb19a,1df72d63f,67a8d4ebb,ca9ad1d4b,3bc419b1d,Novice,Hot,n,T,JT,0
52751,T,N,Red,Polygon,Axolotl,Finland,Theremin,8c5bd88e0,6708e676d,a306b1f4e,d7e75499d,c2bd37d86,Expert,Hot,k,NaN,IA,1
110526,T,N,Red,Triangle,Lion,India,Theremin,2c39d8ba3,81a4b3fd7,e4340c326,ad5be5be4,602d7a9af,NaN,Warm,n,M,UV,-1
360837,F,N,Blue,Trapezoid,Axolotl,Costa Rica,Oboe,8af144866,e49e58b2d,728490578,c2036219b,5704a43ba,Novice,Boiling Hot,n,M,TP,1
259665,F,Y,Blue,Circle,Hamster,China,Bassoon,187c74f5c,89442059b,83bdea3a5,d8e02864a,be76e74af,Contributor,Warm,h,H,LS,-1
436570,F,NaN,Green,Polygon,Hamster,Russia,Oboe,596e36e7d,9a7ce5b05,216083343,31db9b004,7c805bba8,Expert,Lava Hot,g,C,ja,0
272426,F,Y,Blue,Circle,Dog,Costa Rica,Bassoon,b574c9841,239707c71,8da514edb,750cb6661,NaN,Novice,Cold,a,T,CN,0
64564,F,N,Blue,Polygon,Axolotl,India,Oboe,6437de06d,dde11a3cc,7bf938847,32412c81c,e4bf32721,Novice,Lava Hot,g,C,uW,-1
325780,F,N,Blue,Trapezoid,Dog,Russia,Theremin,9b70ac13e,5f98e802b,22a1b223f,fbbafaadc,162e8e7a2,Grandmaster,Warm,h,U,us,-1
480738,T,Y,Red,Polygon,Axolotl,Costa Rica,Theremin,14039fa0e,336ebc4f3,d40ca0718,fbbafaadc,e02d06c48,Contributor,Boiling Hot,h,Q,kv,1

In [15]:
for cat_col in categorical_columns:
    label_encoder = preprocessing.LabelEncoder()
    data[cat_col] = label_encoder.fit_transform(data[cat_col])

In [16]:
data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,0,0,2,4,3,5,0,1059,1013,87,1,27,0,3,2,20,56,0
1,0,1,2,3,0,6,3,210,359,27,69,2112,2,5,4,23,150,0
2,0,0,2,6,3,0,0,860,694,90,102,2218,5,2,13,15,105,0
3,0,0,2,0,3,3,3,477,241,51,170,2167,4,4,0,2,190,0
4,1,0,2,5,3,2,4,556,361,182,222,1747,2,1,7,2,50,0

In [17]:
# train_categorical_df.target==1

In [18]:
train_categorical_df.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw,0
1,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,Grandmaster,Warm,e,X,pE,0
2,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,NaN,Freezing,n,P,eN,0
3,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,Novice,Lava Hot,a,C,NaN,0
4,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,Grandmaster,Cold,h,C,OZ,0

In [19]:
# train_categorical_df.loc[:, train_categorical_df.target==1]

In [20]:
train_categorical_df = data.loc[data.target!=-1, :]
test_categorical_df = data.loc[data.target==-1, :]

In [21]:
train_categorical_df.shape
train_categorical_df.head()

test_categorical_df.shape
test_categorical_df.head()

(600000, 18)

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,0,0,2,4,3,5,0,1059,1013,87,1,27,0,3,2,20,56,0
1,0,1,2,3,0,6,3,210,359,27,69,2112,2,5,4,23,150,0
2,0,0,2,6,3,0,0,860,694,90,102,2218,5,2,13,15,105,0
3,0,0,2,0,3,3,3,477,241,51,170,2167,4,4,0,2,190,0
4,1,0,2,5,3,2,4,556,361,182,222,1747,2,1,7,2,50,0

(400000, 18)

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,target
0,0,1,0,1,0,3,2,372,147,140,174,2196,4,0,5,20,146,-1
1,0,1,2,0,4,5,0,484,837,97,4,1107,4,1,13,13,190,-1
2,0,1,0,0,0,5,3,611,676,101,16,812,1,5,8,13,12,-1
3,0,0,2,1,0,2,0,966,1048,189,107,996,1,3,12,1,0,-1
4,0,1,2,0,6,3,3,1156,685,190,30,371,0,4,14,9,14,-1

In [22]:
categorical_columns

['bin_3',
 'bin_4',
 'nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9',
 'ord_1',
 'ord_2',
 'ord_3',
 'ord_4',
 'ord_5']

## Test on fewer categorical columns

In [23]:
train_catg_df = train_categorical_df.loc[:, ['bin_3', 'bin_4', 'target']]
test_catg_df = test_categorical_df.loc[:, ['bin_3', 'bin_4', 'target']]

train_catg_df.head()
test_catg_df.head()

   bin_3  bin_4  target
0      0      0       0
1      0      1       0
2      0      0       0
3      0      0       0
4      1      0       0

   bin_3  bin_4  target
0      0      1      -1
1      0      1      -1
2      0      1      -1
3      0      0      -1
4      0      1      -1

In [28]:
train_catg_df['bin_3'].value_counts()
train_catg_df['bin_4'].value_counts()

train_catg_df['target'].value_counts()

bin_3
0    366212
1    215774
2     18014
Name: count, dtype: int64

bin_4
0    312344
1    269609
2     18047
Name: count, dtype: int64

target
0    487677
1    112323
Name: count, dtype: int64

In [29]:
num_categorical_levels = {}
for column in ['bin_3', 'bin_4']:
    num_categorical_levels[column] = train_catg_df[column].nunique()

num_categorical_levels

{'bin_3': 3, 'bin_4': 3}

In [30]:
class CategoricalEncodingModel(nn.Module):
    def __init__(self, num_categorical_levels, embedding_dim):
        super(CategoricalEncodingModel, self).__init__()
        self.embeddings_bin3 = nn.Embedding(num_categorical_levels['bin_3'], embedding_dim)
        self.embeddings_bin4 = nn.Embedding(num_categorical_levels['bin_4'], embedding_dim)
        self.num_embs = 2*embedding_dim

        self.linear1 = nn.Linear(in_features=self.num_embs, out_features=32)
        self.linear2 = nn.Linear(in_features=32, out_features=1)

    def forward(self, cat_data_input):
        embs1 = self.embeddings_bin3(cat_data_input[0]).view(1, -1)
        embs2 = self.embeddings_bin4(cat_data_input[1]).view(1, -1)
        embs_cat = torch.cat((embs1, embs2), 1)
        out = self.linear1(embs_cat)
        out = self.linear2(out)

        return out

In [31]:
catg_enc_model = CategoricalEncodingModel(num_categorical_levels=num_categorical_levels, embedding_dim=10)
catg_enc_model

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

In [33]:
train_catg_df.head()
example_cat_data_input = torch.tensor([0, 0], dtype=torch.long)
example_cat_data_input

   bin_3  bin_4  target
0      0      0       0
1      0      1       0
2      0      0       0
3      0      0       0
4      1      0       0

tensor([0, 0])

In [34]:
logits = catg_enc_model(example_cat_data_input)
logits

tensor([[-0.0069]], grad_fn=<AddmmBackward0>)

In [37]:
catg_enc_model.state_dict()

OrderedDict([('embeddings_bin3.weight',
              tensor([[-8.1448e-01, -9.1669e-01,  5.4252e-01,  1.3378e+00, -7.1273e-02,
                       -1.6469e+00,  8.4098e-01, -3.1005e-01,  3.3774e-01, -6.9402e-01],
                      [-3.8391e-01,  3.4689e-01,  2.5516e+00, -8.0720e-01, -5.7014e-01,
                        5.3846e-01,  9.1875e-01, -1.1020e+00,  1.5297e+00, -2.6117e-01],
                      [-6.1215e-04,  1.5526e+00,  7.9828e-01, -1.8805e-01,  9.7693e-02,
                        9.9620e-01, -1.3022e+00, -1.2149e+00,  1.7847e-01,  6.9572e-01]])),
             ('embeddings_bin4.weight',
              tensor([[-1.0255,  1.1686, -0.3779,  0.0142, -0.6414,  0.8768,  1.4545,  0.0372,
                        0.5598,  0.9986],
                      [ 0.1861,  0.4124, -0.9746,  0.4944,  0.6995, -0.6605,  0.5686,  0.3725,
                        0.4852,  0.0848],
                      [ 0.2620, -0.9102,  1.0681, -0.9493, -0.7222, -0.3138,  1.2276, -0.5929,
                       -0.3364, -0.0321]])),
             ('linear1.weight',
              tensor([[ 0.0943,  0.1265,  0.1711,  0.1196,  0.0954, -0.0849, -0.1247, -0.1060,
                        0.1840, -0.0542,  0.0080, -0.2085, -0.0099, -0.0631, -0.1443,  0.1732,
                       -0.1810, -0.0320, -0.0159, -0.2024],
                      [ 0.1352, -0.0711,  0.1005,  0.1248,  0.1972,  0.0553,  0.1679,  0.2065,
                        0.0443, -0.0456, -0.0612,  0.0362,  0.0805, -0.2109,  0.1675,  0.0353,
                       -0.2083,  0.0716,  0.1419,  0.0836],
                      [ 0.1825,  0.0046, -0.1855, -0.0005,  0.1625, -0.1076,  0.0954,  0.0515,
                       -0.0363,  0.0016,  0.0951, -0.1530,  0.1412,  0.1514,  0.1255,  0.2234,
                       -0.0098, -0.1579,  0.0102, -0.0649],
                      [ 0.0789,  0.1891, -0.1224,  0.0094,  0.2175, -0.1785, -0.0386,  0.2171,
                        0.1562,  0.0649, -0.0964, -0.0208, -0.2005, -0.2105, -0.2095,  0.2148,
                        0.1769,  0.0887, -0.0562,  0.1925],
                      [-0.0591,  0.1552, -0.0073, -0.1052, -0.0624, -0.0477, -0.2047,  0.0669,
                       -0.0681,  0.1027,  0.1426, -0.0356,  0.1084,  0.0447,  0.1502, -0.1442,
                       -0.0196, -0.0745,  0.1959, -0.2007],
                      [-0.1257,  0.0252,  0.1985,  0.1513, -0.2092, -0.1572,  0.2168,  0.0326,
                       -0.1915, -0.0704,  0.0978, -0.0468, -0.1718, -0.1381, -0.1158, -0.0088,
                        0.0876,  0.1074, -0.1086, -0.0375],
                      [-0.1726,  0.1691,  0.2231,  0.2173,  0.0914, -0.0477, -0.0056,  0.0807,
                       -0.1938,  0.0139, -0.1818, -0.2236, -0.0075, -0.0712, -0.1416,  0.0371,
                        0.0091,  0.0341, -0.1251, -0.2190],
                      [ 0.0049, -0.0912, -0.0754,  0.1646,  0.0365,  0.1021, -0.0625, -0.1774,
                        0.0446, -0.1481,  0.0277, -0.1745,  0.1686, -0.1523,  0.1941,  0.1580,
                        0.1690,  0.1342,  0.0518, -0.0109],
                      [-0.0036, -0.0889, -0.2055,  0.2038,  0.0116,  0.1052,  0.0082,  0.0643,
                       -0.1378, -0.1738,  0.1705,  0.0848,  0.1104, -0.2219,  0.0151, -0.2086,
                       -0.0256, -0.0118, -0.1573, -0.2214],
                      [ 0.0015,  0.2011,  0.2015, -0.1361, -0.0397, -0.1870, -0.1746, -0.0613,
                        0.2171, -0.0583,  0.0129,  0.2104,  0.0398,  0.1804,  0.1486,  0.2097,
                        0.0383, -0.1808, -0.1924, -0.1155],
                      [ 0.1846,  0.1286,  0.0654, -0.1703, -0.1647,  0.1824, -0.0232, -0.2226,
                       -0.0276, -0.0537,  0.0034,  0.0936,  0.0860, -0.1711, -0.0025, -0.1108,
                        0.1513,  0.1107,  0.1227,  0.2033],
                      [ 0.1098, -0.2234,  0.0564, -0.1534,  0.0299,  0.0024,  0.2218, -0.1528,
                       -0.2191, -0.0599,  0.0360,  0.1638,  0.1813,  0.1722,  0.0706, -0.0639,
                       -0.0473, -0.1223,  0.0437, -0.1555],
                      [ 0.0769,  0.1444,  0.1897, -0.2204,  0.1835, -0.1405, -0.0183,  0.2041,
                        0.1212, -0.0709,  0.1320, -0.2175,  0.1748,  0.2171, -0.0102,  0.0368,
                       -0.0525, -0.1416, -0.1011, -0.0148],
                      [-0.1829, -0.1807,  0.0245, -0.1455, -0.1216, -0.0019, -0.1178,  0.2070,
                       -0.0807, -0.1243, -0.0596, -0.1824,  0.1152,  0.1921, -0.1290, -0.0831,
                        0.2087, -0.1618,  0.0606, -0.1822],
                      [-0.1990,  0.0003, -0.1276,  0.1211, -0.0692,  0.0022, -0.1167,  0.0919,
                        0.2072, -0.0336, -0.1380, -0.2181,  0.2143,  0.0942,  0.0923,  0.0381,
                        0.1122,  0.0794,  0.1092,  0.1398],
                      [ 0.0317,  0.1926,  0.1390, -0.0068, -0.0999,  0.0148,  0.1741,  0.1417,
                       -0.0906, -0.0467,  0.0888,  0.0843,  0.2129,  0.1086,  0.0712,  0.0517,
                       -0.2101, -0.0824,  0.0237, -0.1556],
                      [-0.1959,  0.1509,  0.0760, -0.1804,  0.0133,  0.1317,  0.1288,  0.2042,
                       -0.0884,  0.0996, -0.1814, -0.0276, -0.1422, -0.0426,  0.1273,  0.1115,
                       -0.1176, -0.0554, -0.0447, -0.0851],
                      [-0.1225,  0.1642,  0.1546,  0.1867, -0.1228,  0.1637, -0.0678, -0.0525,
                       -0.0602, -0.0109, -0.0979,  0.0306, -0.1441,  0.0920, -0.1875, -0.0811,
                       -0.1562,  0.1508,  0.1536, -0.1778],
                      [-0.1220,  0.2001,  0.0652,  0.1540, -0.1714,  0.1009,  0.1423, -0.0519,
                       -0.0103,  0.1630,  0.0610,  0.0642,  0.0007, -0.0934, -0.1369,  0.2231,
                       -0.0177,  0.1984,  0.1830, -0.1169],
                      [ 0.0152, -0.0572, -0.0041,  0.1474,  0.1231, -0.1270, -0.1106, -0.1589,
                       -0.1899,  0.1434, -0.1382,  0.0029, -0.0003,  0.0383, -0.0131,  0.1160,
                        0.0307,  0.1603,  0.0483, -0.0028],
                      [ 0.0317,  0.1490,  0.0337,  0.1575, -0.0212,  0.0019,  0.1879, -0.2111,
                        0.0223,  0.2042, -0.1122, -0.0412, -0.0135,  0.0737,  0.0845,  0.0507,
                        0.0882, -0.0959,  0.0941, -0.0709],
                      [ 0.1405, -0.0656, -0.1904,  0.0160,  0.1164, -0.0088,  0.0029,  0.0008,
                        0.1187,  0.0175, -0.1998, -0.1595,  0.0132, -0.0180,  0.2137, -0.0526,
                        0.1711, -0.1886, -0.2125, -0.0206],
                      [-0.1416, -0.0652,  0.0252, -0.1940,  0.1537, -0.1357,  0.1716,  0.0731,
                       -0.0419, -0.1957,  0.0370, -0.1249,  0.1933, -0.1881, -0.0591, -0.1232,
                       -0.1438, -0.1166, -0.0222,  0.0151],
                      [ 0.0379,  0.1143, -0.0913, -0.1387, -0.0471,  0.2107, -0.0273, -0.1882,
                        0.1755,  0.0544,  0.0388,  0.0384,  0.1560, -0.1018,  0.1630,  0.2150,
                       -0.0577,  0.1411,  0.1234,  0.2094],
                      [-0.0520, -0.1330, -0.0830, -0.1521,  0.0077,  0.2156,  0.2169,  0.1689,
                        0.0221,  0.0049,  0.1481,  0.1328, -0.0222, -0.0566,  0.0884, -0.0078,
                       -0.1571, -0.1052,  0.1813,  0.1862],
                      [-0.0871, -0.0480, -0.1108, -0.0730,  0.2038, -0.1989,  0.1067, -0.2010,
                       -0.1067, -0.0455,  0.0155, -0.0363, -0.1022, -0.0997, -0.1360, -0.1561,
                       -0.1393,  0.2144, -0.1054, -0.1859],
                      [ 0.1537,  0.0868,  0.1538, -0.2224, -0.2128, -0.1587, -0.1178, -0.0005,
                        0.0967,  0.1309, -0.1923,  0.0892, -0.1293,  0.0514,  0.0702,  0.0358,
                        0.0791, -0.0112,  0.1476,  0.0466],
                      [ 0.1959,  0.0485, -0.1184,  0.1436,  0.0121,  0.2161, -0.0247,  0.2212,
                       -0.1305,  0.1124, -0.1668,  0.1535,  0.0406,  0.1270, -0.1926, -0.2224,
                        0.1077, -0.0920,  0.0886, -0.1327],
                      [-0.0691,  0.0010,  0.1347,  0.1263, -0.0200, -0.0632, -0.0039,  0.1152,
                       -0.1895, -0.0683, -0.2156,  0.0323, -0.0264,  0.1267,  0.1786, -0.1912,
                       -0.0990, -0.0359, -0.0022, -0.0510],
                      [-0.1406, -0.0864, -0.0058,  0.1798, -0.0570,  0.1477, -0.1808,  0.0100,
                       -0.1745, -0.2098,  0.0222, -0.1024,  0.1646,  0.1766, -0.2226, -0.0156,
                       -0.0382, -0.1275, -0.1561, -0.0946],
                      [ 0.0987,  0.0532,  0.1346, -0.0133,  0.1161,  0.0432, -0.0488, -0.0131,
                       -0.2034, -0.0051, -0.0735, -0.0748, -0.0898, -0.0489, -0.1651,  0.0131,
                       -0.0091, -0.0589,  0.1941,  0.1501],
                      [ 0.0632, -0.0824,  0.0285, -0.1539,  0.1558,  0.2089, -0.0334,  0.1724,
                        0.2099, -0.0134, -0.0830,  0.0113,  0.0370, -0.2070, -0.0139, -0.0808,
                        0.1492, -0.0064,  0.1471,  0.1989]])),
             ('linear1.bias',
              tensor([-0.0701,  0.0481, -0.0191, -0.0974, -0.1240,  0.0052,  0.0679, -0.0393,
                       0.0380,  0.1397,  0.0932,  0.0922,  0.0628, -0.1719, -0.1353, -0.1658,
                       0.1469, -0.1969, -0.1669,  0.1473,  0.1322, -0.2114,  0.1292, -0.0510,
                       0.0482, -0.1401, -0.0339,  0.0497,  0.1705,  0.1356, -0.1216, -0.1467])),
             ('linear2.weight',
              tensor([[-0.0108,  0.0555,  0.0969, -0.1762, -0.0144,  0.0063, -0.0826,  0.1394,
                       -0.0469, -0.1685, -0.1055,  0.0057, -0.1316,  0.0404,  0.1720,  0.0072,
                       -0.0435,  0.1665,  0.1305,  0.1175,  0.0134,  0.0081, -0.1371,  0.0180,
                        0.1719,  0.0093, -0.1578,  0.0970,  0.1586,  0.1482,  0.0083,  0.0332]])),
             ('linear2.bias', tensor([0.0286]))])

In [36]:
list(catg_enc_model.parameters())

[Parameter containing:
 tensor([[-8.1448e-01, -9.1669e-01,  5.4252e-01,  1.3378e+00, -7.1273e-02,
          -1.6469e+00,  8.4098e-01, -3.1005e-01,  3.3774e-01, -6.9402e-01],
         [-3.8391e-01,  3.4689e-01,  2.5516e+00, -8.0720e-01, -5.7014e-01,
           5.3846e-01,  9.1875e-01, -1.1020e+00,  1.5297e+00, -2.6117e-01],
         [-6.1215e-04,  1.5526e+00,  7.9828e-01, -1.8805e-01,  9.7693e-02,
           9.9620e-01, -1.3022e+00, -1.2149e+00,  1.7847e-01,  6.9572e-01]],
        requires_grad=True),
 Parameter containing:
 tensor([[-1.0255,  1.1686, -0.3779,  0.0142, -0.6414,  0.8768,  1.4545,  0.0372,
           0.5598,  0.9986],
         [ 0.1861,  0.4124, -0.9746,  0.4944,  0.6995, -0.6605,  0.5686,  0.3725,
           0.4852,  0.0848],
         [ 0.2620, -0.9102,  1.0681, -0.9493, -0.7222, -0.3138,  1.2276, -0.5929,
          -0.3364, -0.0321]], requires_grad=True),
 Parameter containing:
 tensor([[ 0.0943,  0.1265,  0.1711,  0.1196,  0.0954, -0.0849, -0.1247, -0.1060,
           0.1840, -0.0542,  0.0080, -0.2085, -0.0099, -0.0631, -0.1443,  0.1732,
          -0.1810, -0.0320, -0.0159, -0.2024],
         [ 0.1352, -0.0711,  0.1005,  0.1248,  0.1972,  0.0553,  0.1679,  0.2065,
           0.0443, -0.0456, -0.0612,  0.0362,  0.0805, -0.2109,  0.1675,  0.0353,
          -0.2083,  0.0716,  0.1419,  0.0836],
         [ 0.1825,  0.0046, -0.1855, -0.0005,  0.1625, -0.1076,  0.0954,  0.0515,
          -0.0363,  0.0016,  0.0951, -0.1530,  0.1412,  0.1514,  0.1255,  0.2234,
          -0.0098, -0.1579,  0.0102, -0.0649],
         [ 0.0789,  0.1891, -0.1224,  0.0094,  0.2175, -0.1785, -0.0386,  0.2171,
           0.1562,  0.0649, -0.0964, -0.0208, -0.2005, -0.2105, -0.2095,  0.2148,
           0.1769,  0.0887, -0.0562,  0.1925],
         [-0.0591,  0.1552, -0.0073, -0.1052, -0.0624, -0.0477, -0.2047,  0.0669,
          -0.0681,  0.1027,  0.1426, -0.0356,  0.1084,  0.0447,  0.1502, -0.1442,
          -0.0196, -0.0745,  0.1959, -0.2007],
         [-0.1257,  0.0252,  0.1985,  0.1513, -0.2092, -0.1572,  0.2168,  0.0326,
          -0.1915, -0.0704,  0.0978, -0.0468, -0.1718, -0.1381, -0.1158, -0.0088,
           0.0876,  0.1074, -0.1086, -0.0375],
         [-0.1726,  0.1691,  0.2231,  0.2173,  0.0914, -0.0477, -0.0056,  0.0807,
          -0.1938,  0.0139, -0.1818, -0.2236, -0.0075, -0.0712, -0.1416,  0.0371,
           0.0091,  0.0341, -0.1251, -0.2190],
         [ 0.0049, -0.0912, -0.0754,  0.1646,  0.0365,  0.1021, -0.0625, -0.1774,
           0.0446, -0.1481,  0.0277, -0.1745,  0.1686, -0.1523,  0.1941,  0.1580,
           0.1690,  0.1342,  0.0518, -0.0109],
         [-0.0036, -0.0889, -0.2055,  0.2038,  0.0116,  0.1052,  0.0082,  0.0643,
          -0.1378, -0.1738,  0.1705,  0.0848,  0.1104, -0.2219,  0.0151, -0.2086,
          -0.0256, -0.0118, -0.1573, -0.2214],
         [ 0.0015,  0.2011,  0.2015, -0.1361, -0.0397, -0.1870, -0.1746, -0.0613,
           0.2171, -0.0583,  0.0129,  0.2104,  0.0398,  0.1804,  0.1486,  0.2097,
           0.0383, -0.1808, -0.1924, -0.1155],
         [ 0.1846,  0.1286,  0.0654, -0.1703, -0.1647,  0.1824, -0.0232, -0.2226,
          -0.0276, -0.0537,  0.0034,  0.0936,  0.0860, -0.1711, -0.0025, -0.1108,
           0.1513,  0.1107,  0.1227,  0.2033],
         [ 0.1098, -0.2234,  0.0564, -0.1534,  0.0299,  0.0024,  0.2218, -0.1528,
          -0.2191, -0.0599,  0.0360,  0.1638,  0.1813,  0.1722,  0.0706, -0.0639,
          -0.0473, -0.1223,  0.0437, -0.1555],
         [ 0.0769,  0.1444,  0.1897, -0.2204,  0.1835, -0.1405, -0.0183,  0.2041,
           0.1212, -0.0709,  0.1320, -0.2175,  0.1748,  0.2171, -0.0102,  0.0368,
          -0.0525, -0.1416, -0.1011, -0.0148],
         [-0.1829, -0.1807,  0.0245, -0.1455, -0.1216, -0.0019, -0.1178,  0.2070,
          -0.0807, -0.1243, -0.0596, -0.1824,  0.1152,  0.1921, -0.1290, -0.0831,
           0.2087, -0.1618,  0.0606, -0.1822],
         [-0.1990,  0.0003, -0.1276,  0.1211, -0.0692,  0.0022, -0.1167,  0.0919,
           0.2072, -0.0336, -0.1380, -0.2181,  0.2143,  0.0942,  0.0923,  0.0381,
           0.1122,  0.0794,  0.1092,  0.1398],
         [ 0.0317,  0.1926,  0.1390, -0.0068, -0.0999,  0.0148,  0.1741,  0.1417,
          -0.0906, -0.0467,  0.0888,  0.0843,  0.2129,  0.1086,  0.0712,  0.0517,
          -0.2101, -0.0824,  0.0237, -0.1556],
         [-0.1959,  0.1509,  0.0760, -0.1804,  0.0133,  0.1317,  0.1288,  0.2042,
          -0.0884,  0.0996, -0.1814, -0.0276, -0.1422, -0.0426,  0.1273,  0.1115,
          -0.1176, -0.0554, -0.0447, -0.0851],
         [-0.1225,  0.1642,  0.1546,  0.1867, -0.1228,  0.1637, -0.0678, -0.0525,
          -0.0602, -0.0109, -0.0979,  0.0306, -0.1441,  0.0920, -0.1875, -0.0811,
          -0.1562,  0.1508,  0.1536, -0.1778],
         [-0.1220,  0.2001,  0.0652,  0.1540, -0.1714,  0.1009,  0.1423, -0.0519,
          -0.0103,  0.1630,  0.0610,  0.0642,  0.0007, -0.0934, -0.1369,  0.2231,
          -0.0177,  0.1984,  0.1830, -0.1169],
         [ 0.0152, -0.0572, -0.0041,  0.1474,  0.1231, -0.1270, -0.1106, -0.1589,
          -0.1899,  0.1434, -0.1382,  0.0029, -0.0003,  0.0383, -0.0131,  0.1160,
           0.0307,  0.1603,  0.0483, -0.0028],
         [ 0.0317,  0.1490,  0.0337,  0.1575, -0.0212,  0.0019,  0.1879, -0.2111,
           0.0223,  0.2042, -0.1122, -0.0412, -0.0135,  0.0737,  0.0845,  0.0507,
           0.0882, -0.0959,  0.0941, -0.0709],
         [ 0.1405, -0.0656, -0.1904,  0.0160,  0.1164, -0.0088,  0.0029,  0.0008,
           0.1187,  0.0175, -0.1998, -0.1595,  0.0132, -0.0180,  0.2137, -0.0526,
           0.1711, -0.1886, -0.2125, -0.0206],
         [-0.1416, -0.0652,  0.0252, -0.1940,  0.1537, -0.1357,  0.1716,  0.0731,
          -0.0419, -0.1957,  0.0370, -0.1249,  0.1933, -0.1881, -0.0591, -0.1232,
          -0.1438, -0.1166, -0.0222,  0.0151],
         [ 0.0379,  0.1143, -0.0913, -0.1387, -0.0471,  0.2107, -0.0273, -0.1882,
           0.1755,  0.0544,  0.0388,  0.0384,  0.1560, -0.1018,  0.1630,  0.2150,
          -0.0577,  0.1411,  0.1234,  0.2094],
         [-0.0520, -0.1330, -0.0830, -0.1521,  0.0077,  0.2156,  0.2169,  0.1689,
           0.0221,  0.0049,  0.1481,  0.1328, -0.0222, -0.0566,  0.0884, -0.0078,
          -0.1571, -0.1052,  0.1813,  0.1862],
         [-0.0871, -0.0480, -0.1108, -0.0730,  0.2038, -0.1989,  0.1067, -0.2010,
          -0.1067, -0.0455,  0.0155, -0.0363, -0.1022, -0.0997, -0.1360, -0.1561,
          -0.1393,  0.2144, -0.1054, -0.1859],
         [ 0.1537,  0.0868,  0.1538, -0.2224, -0.2128, -0.1587, -0.1178, -0.0005,
           0.0967,  0.1309, -0.1923,  0.0892, -0.1293,  0.0514,  0.0702,  0.0358,
           0.0791, -0.0112,  0.1476,  0.0466],
         [ 0.1959,  0.0485, -0.1184,  0.1436,  0.0121,  0.2161, -0.0247,  0.2212,
          -0.1305,  0.1124, -0.1668,  0.1535,  0.0406,  0.1270, -0.1926, -0.2224,
           0.1077, -0.0920,  0.0886, -0.1327],
         [-0.0691,  0.0010,  0.1347,  0.1263, -0.0200, -0.0632, -0.0039,  0.1152,
          -0.1895, -0.0683, -0.2156,  0.0323, -0.0264,  0.1267,  0.1786, -0.1912,
          -0.0990, -0.0359, -0.0022, -0.0510],
         [-0.1406, -0.0864, -0.0058,  0.1798, -0.0570,  0.1477, -0.1808,  0.0100,
          -0.1745, -0.2098,  0.0222, -0.1024,  0.1646,  0.1766, -0.2226, -0.0156,
          -0.0382, -0.1275, -0.1561, -0.0946],
         [ 0.0987,  0.0532,  0.1346, -0.0133,  0.1161,  0.0432, -0.0488, -0.0131,
          -0.2034, -0.0051, -0.0735, -0.0748, -0.0898, -0.0489, -0.1651,  0.0131,
          -0.0091, -0.0589,  0.1941,  0.1501],
         [ 0.0632, -0.0824,  0.0285, -0.1539,  0.1558,  0.2089, -0.0334,  0.1724,
           0.2099, -0.0134, -0.0830,  0.0113,  0.0370, -0.2070, -0.0139, -0.0808,
           0.1492, -0.0064,  0.1471,  0.1989]], requires_grad=True),
 Parameter containing:
 tensor([-0.0701,  0.0481, -0.0191, -0.0974, -0.1240,  0.0052,  0.0679, -0.0393,
          0.0380,  0.1397,  0.0932,  0.0922,  0.0628, -0.1719, -0.1353, -0.1658,
          0.1469, -0.1969, -0.1669,  0.1473,  0.1322, -0.2114,  0.1292, -0.0510,
          0.0482, -0.1401, -0.0339,  0.0497,  0.1705,  0.1356, -0.1216, -0.1467],
        requires_grad=True),
 Parameter containing:
 tensor([[-0.0108,  0.0555,  0.0969, -0.1762, -0.0144,  0.0063, -0.0826,  0.1394,
          -0.0469, -0.1685, -0.1055,  0.0057, -0.1316,  0.0404,  0.1720,  0.0072,
          -0.0435,  0.1665,  0.1305,  0.1175,  0.0134,  0.0081, -0.1371,  0.0180,
           0.1719,  0.0093, -0.1578,  0.0970,  0.1586,  0.1482,  0.0083,  0.0332]],
        requires_grad=True),
 Parameter containing:
 tensor([0.0286], requires_grad=True)]

In [38]:
loss_function = nn.BCEWithLogitsLoss()
optimizer = optim.SGD(catg_enc_model.parameters(), lr=0.01)

In [39]:
train_catg_df.target.value_counts()

target
0    487677
1    112323
Name: count, dtype: int64

In [42]:
sample_data = train_catg_df.sample(10, random_state=43)
sample_data

        bin_3  bin_4  target
99666       0      2       0
159761      0      1       1
105919      0      0       0
188760      0      1       0
464731      0      1       0
178950      1      1       0
504456      0      0       0
291511      0      0       0
526743      1      0       0
98102       0      0       0

In [45]:
catg_enc_model

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

In [52]:
loss_values = []
for epoch in range(5):
    total_loss = 0
    for input_x1, input_x2, y in sample_data.values:
        # print(input_x1, input_x2, y)
        cat_cols_input = torch.tensor([input_x1, input_x2], dtype=torch.long)
        target = torch.tensor(y, dtype=torch.float)

        # model training mode
        catg_enc_model.train()
        # logits = catg_enc_model(cat_cols_input)  # shape will be [1, 1] so need to squeeze 
        # print(f'logits.shape: {logits.shape}')

        logits = catg_enc_model(cat_cols_input).squeeze()
        # print(f'logits: {logits}')
        loss = loss_function(logits, target)

        # backpropagation
        loss.backward()

        # update model parameters
        optimizer.step()

        total_loss += loss
    loss_values.append(total_loss)

print(f'loss_values: {loss_values}')

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

CategoricalEncodingModel(
  (embeddings_bin3): Embedding(3, 10)
  (embeddings_bin4): Embedding(3, 10)
  (linear1): Linear(in_features=20, out_features=32, bias=True)
  (linear2): Linear(in_features=32, out_features=1, bias=True)
)

loss_values: [tensor(3.3754, grad_fn=<AddBackward0>), tensor(3.6834, grad_fn=<AddBackward0>), tensor(2.4904, grad_fn=<AddBackward0>), tensor(2.9169, grad_fn=<AddBackward0>), tensor(2.7318, grad_fn=<AddBackward0>)]

In [53]:
catg_enc_model.embeddings_bin3.weight

Parameter containing:
tensor([[ 1.2500e+00,  1.5430e+00, -5.9764e-01, -2.0758e+00, -1.4551e-01,
          3.3795e+00, -1.3366e+00,  2.9048e-01, -3.5560e-01,  1.2215e+00],
        [-3.3297e-01,  5.4438e-01,  3.0106e+00, -1.1280e+00, -5.7875e-01,
          1.0383e-01,  9.7325e-01, -1.2814e+00,  1.8011e+00, -2.8478e-01],
        [-6.1215e-04,  1.5526e+00,  7.9828e-01, -1.8805e-01,  9.7693e-02,
          9.9620e-01, -1.3022e+00, -1.2149e+00,  1.7847e-01,  6.9572e-01]],
       requires_grad=True)

In [54]:
catg_enc_model.embeddings_bin4.weight

Parameter containing:
tensor([[-1.2272,  1.1315, -0.4879, -0.6067, -1.1531,  1.3928,  1.9960, -0.1623,
         -0.1877,  1.3936],
        [-0.1209, -0.7328,  1.3664, -0.4009, -0.6865,  0.6415, -1.0096, -0.2731,
         -0.1737, -0.2357],
        [ 0.1192, -0.8627,  1.0053, -1.2238, -0.9756, -0.0328,  1.5227, -0.6736,
         -0.6130,  0.2028]], requires_grad=True)